[user]
    name = XuHaoJun
    email = XuHaoJunTW@gmail.com
[core]
    editor = vim
[diff]
    tool = meld
[merge]
    tool = meld
[difftool]
    prompt = false
[color]
    diff = auto
    status = auto
    branch = auto
    log = auto
    ui = auto
[alias]
    s=status
